.footer-container {
    position: relative;
    width: 100%;

    bottom: 0;
    /*bottom: 20px; daca vreau sa las un spatiu intre bottom si footer*/
    padding: 30px;

    text-align: center;
    color: red;

    background-color: #292a2c;
}