.header-img {
    position: relative; /*absolute daca as vr sa stea sus nav-ul*/
    text-align: center;

    width: 100%;

    display: grid;
    place-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    position: absolute;

    margin-bottom: 1%;

    color: #ffffff8c;
}